.meeting-card {
  border: 1px solid $gray-300;
  border-radius: 8px;
}

.meeting-img {
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;

  & img {
    height: 180px;
    object-fit: cover;
    width: 100%;
    object-position: center;
  }
}

.modal-content {
  padding: 24px 16px;
  border-radius: 16px;
  background-color: white;

  @include media-breakpoint-down(sm) {
    margin: auto 16px;
  }
}

.ellipsis {
  height: 72px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 0;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @include media-breakpoint-down(sm) {
    height: 42px;
    -webkit-line-clamp: 2;
  }
}

.option-box {
  height: auto;

  position: relative;

  & .overflow-handler {
    background-color: #ffffff;
    max-height: 240px;
    border: 1px solid $gray-300;
    border-radius: 4px;
    overflow: auto;
    position: absolute;
  }

  & .options {
    padding: 10px 14px;
    height: 40px;
    width: 100%;

    &:hover {
      background-color: #f5faff;
    }

    &.activeOption {
      color: rgba(0, 0, 0, 0.87);
      font-weight: 600;
      background-color: #ebf5ff;
    }

    &.activeOption {
      background-color: #ebf5ff;
    }
  }
}

i::before {
  font-size: 24px;
}

.date-card {
  @extend .at-font-b1-reg; //.at-font-b2-reg;

  padding: 16px 10px;
  width: 77px;
  color: #000;
  border-radius: 8px;
  background-color: $gray-100;

  &.active {
    background-color: $blue-200;
  }

  @include media-breakpoint-down(sm) {
    width: 56px;
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
  }
}

.disabled-input-bg {
  background-color: #efefef4d;
}

.gray-400 {
  color: $gray-400;
}

.custom-dropdown {
  // all: unset;
  appearance: none; /* Removes default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  border: none;

  // @extend .at-textbox;
}
