<div *ngIf="!loadingState" class="d-grid common-pg-layout">
  <div class="d-flex py-3">
    <div class="d-flex align-items-center gap-2" (click)="navigateHome()">
      <i class="ph ph-arrow-circle-left helper" style="font-size: 20px"></i>
      <div class="helper">Account</div>
    </div>
  </div>
  <div class="at-font-h6-bold mb-3">Edit Profile</div>
  <div class="d-flex col-12 flex-column overflow-auto">
    <form
      class="d-grid gap-4"
      [formGroup]="updateProfileForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="d-grid gap-1">
        <label class="at-form-label">Name</label>
        <div
          class="d-flex align-items-center at-textbox py-0"
          [class.invalid]="updateProfileForm.get('fullname')?.invalid"
        >
          <input
            style="outline: none"
            class="border-0 h-100 w-100"
            formControlName="fullname"
          />
          <i
            *ngIf="updateProfileForm.get('fullname')?.invalid"
            class="ph ph-warning-circle"
            style="font-size: 16px; color: #fda29b"
          ></i>
        </div>
        <span
          class="warning"
          *ngIf="
            updateProfileForm.get('fullname')?.touched &&
            updateProfileForm.get('fullname')?.invalid
          "
        >
          Full Name is required.</span
        >
      </div>
      <div class="d-grid gap-1">
        <label class="at-form-label">Email ID</label
        ><input
          class="at-textbox-disabled w100"
          type="text"
          formControlName="email"
        />
      </div>
      <div class="d-grid gap-1">
        <label class="at-form-label w100">Phone Number</label>
        <div
          class="d-flex at-textbox py-0 align-items-center"
          [class.invalid]="updateProfileForm.get('phone')?.invalid"
          style="padding-left: 0px"
        >
          <input
            type="text"
            class="country-code fixed"
            formControlName="countryCode"
          />
          <input
            type="text"
            class="phone-box w-100"
            formControlName="phone"
            maxlength="10"
          />
          <i
            *ngIf="updateProfileForm.get('phone')?.invalid"
            class="ph ph-warning-circle"
            style="font-size: 16px; color: #fda29b"
          ></i>
        </div>
        <span
          class="warning"
          [hidden]="updateProfileForm.get('phone')?.value === null"
          *ngIf="
            updateProfileForm.get('phone')?.touched &&
            updateProfileForm.get('phone')?.invalid
          "
        >
          Please Enter 10-digit valid phone Number.</span
        >
      </div>
      <hr class="my-0" />
      <div class="outer-cover">
        <div class="d-grid p-3 gap-1">
          <label class="at-form-label">Profile Picture</label>
          <div
            class="d-flex at-textbox w100 py-0 px-0 align-items-center justify-content-between"
            style="position: relative"
          >
            <span class="ms-14px">{{ picFilename }}</span>
            <input
              type="file"
              class="w-100 h-100"
              style="opacity: 0; position: absolute"
              (change)="onProfileUpload($event)"
              [style.cursor]="'pointer'"
              accept="image/png, image/jpeg"
            />
            <div class="me-14px">
              <i
                *ngIf="checkIcon"
                class="ph ph-check-circle me-2"
                style="font-size: 20px; color: #039855"
              ></i>
              <i class="ph ph-file-arrow-up" style="font-size: 20px"></i>
            </div>
          </div>
          <label
            [ngClass]="{ helper: change === 1, 'warning bold': change === 2 }"
            >Accepted formats .png, .jpg, Image size should be below 100kb and
            dimesions should be close to 100*100</label
          >
          <div *ngIf="this.userInfo.profilePicUrl">
            <img
              src="{{ this.userInfo.profilePicUrl }}"
              height="100px"
              width="100px"
            />
          </div>
        </div>
      </div>
      <hr class="my-0" />
      <div class="flex-column">
        <div class="d-flex justify-content-between align-items-center">
          <div class="at-font-b1-bold">More Settings</div>
          <i
            (click)="moreSettings()"
            class="{{ collapse ? 'ph ph-caret-up' : 'ph ph-caret-down' }}"
            style="font-size: 24px"
          ></i>
        </div>
        <div class="mt-4">
          <div *ngIf="!collapse" class="d-grid outer-cover gap-3">
            <div class="at-font-b2-bold">Delete account?</div>
            <div class="helper">
              If you’re having any trouble with your account
            </div>
            <div class="d-flex gap-3">
              <button class="at-button w100" style="height: 40px">
                Contact Us
              </button>
              <button
                class="at-button-gray w100"
                style="height: 40px"
                (click)="logout()"
              >
                Delete Account
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div>
    <hr />
    <div [style.cursor]="updateProfileForm.invalid ? 'not-allowed' : 'auto'">
      <button
        [disabled]="updateProfileForm.invalid"
        (click)="onSubmit()"
        class="at-button w100 mb-3"
      >
        Save Changes
      </button>
    </div>
  </div>
</div>
