<div class="d-flex flex-column common-pg-layout">
  <div class="d-flex py-3">
    <div class="d-flex align-items-center gap-2" (click)="navigate()">
      <i class="ph ph-arrow-circle-left helper" style="font-size: 20px"></i>
      <div class="helper">Meeting Room</div>
    </div>
  </div>
  <form
    [formGroup]="meetingForm"
    (ngSubmit)="onSubmit()"
    class="d-flex col-12 flex-column gap-4"
  >
    <div class="title-heading mb-1">Enter Your Meeting Details</div>
    <div class="d-flex flex-column">
      <label class="at-form-label mb-6px"
        >When would you like your service?</label
      >
      <div class="d-flex flex-row gap-2 gap-sm-3 overflow-x-auto">
        <div *ngFor="let date of fullDate; let i = index" class="mb-2">
          <div
            class="date-card d-flex flex-column align-items-center"
            (click)="bookedDay(i)"
            [class.active]="i === selectedDay"
          >
            <div class="mb-2">{{ date | date : "EEE" | uppercase }}</div>
            <div>{{ date | date : "d" }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <label class="at-form-label mb-6px" for="people">How many people?</label>
      <input
        name="people"
        type="number"
        formControlName="noOfPeople"
        class="at-textbox mb-6px"
        placeholder="Enter the no of people"
      />
      <label class="helper reg"
        >Maximum room size = {{ meetingRoomList.size }}</label
      >
    </div>
    <div class="d-flex flex-column">
      <label class="at-form-label mb-6px" for="hours">How many hours?</label>
      <input
        name="hours"
        type="number"
        formControlName="noOfHours"
        class="at-textbox mb-6px"
        placeholder="Enter the no of hours"
      />
    </div>

    <div class="d-flex flex-column">
      <label class="at-form-label mb-6px" for="time">Expected Start Time</label>
      <div
        class="mb-6px d-flex align-items-center justify-content-end py-0"
        [ngClass]="{
          'at-textbox': selectedDay !== null,
          'at-textbox-disabled': selectedDay === null
        }"
        style="position: relative"
      >
        <input
          readonly
          [disabled]="selectedDay === null"
          value="{{ selectedTime }}"
          class="w-100 h-100 border-0"
          style="outline: none"
          placeholder="Expected Start Time"
          (click)="selectTimeOption()"
        />
        <i
          class="ph ph-caret-down"
          style="position: absolute"
          *ngIf="!timeOptionClick"
          (click)="selectTimeOption()"
        ></i>
      </div>
      <div *ngIf="timeOptionClick" class="w-100 option-box">
        <div class="w-100 overflow-handler">
          <div
            class="options"
            [class.activeOption]="time === selectedTime"
            *ngFor="let time of timeSlots"
            (click)="selectedTimeFn(time)"
          >
            <div (click)="time === selectedTime && selectTimeOption()">
              {{ time }}
            </div>
          </div>
        </div>
      </div>
      <label *ngIf="showOperateTime !== null" class="helper reg blue"
        >Operational Time :-
        <li>{{ showOperateTime }}</li></label
      >
    </div>

    <div class="d-flex flex-column">
      <label class="at-form-label mb-6px" for="seating"
        >Seating Arrangement</label
      >
      <!-- <div
        class="mb-6px d-flex py-0 {{
          selectedDay === null ? 'at-textbox-disabled' : 'at-textbox'
        }}"
      >
        <select formControlName="seating" class="custom-dropdown">
          <div>
            <option value="" disabled selected hidden>
              Select seating arrangement
            </option>
          </div>
          <option
            *ngFor="
              let seat of meetingRoomList.supportedSeatingArrangement.split(',')
            "
          >
            {{ seat }}
          </option>
          <i class="ph ph-caret-down"></i>
        </select>
      </div> -->
      <div class="at-textbox mb-6px d-flex align-items-center py-0">
        <input
          readonly
          value="{{ selectedSeat }}"
          class="w-100 h-100 border-0"
          style="outline: none"
          placeholder="Select the seating arrangement"
          (click)="selectSeatingOption()"
        />
        <i
          class="ph ph-caret-down"
          *ngIf="!seatOptionClick"
          (click)="selectSeatingOption()"
        ></i>
      </div>
      <div *ngIf="seatOptionClick" class="w-100 option-box">
        <div class="w-100 overflow-handler" style="max-height: 200px">
          <div
            class="options"
            [class.activeOption]="seat === selectedSeat"
            *ngFor="
              let seat of meetingRoomList.supportedSeatingArrangement.split(',')
            "
            (click)="selectSeatingOption()"
          >
            <div (click)="selectedSeatFn(seat)">
              {{ seat }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column">
      <label class="at-form-label mb-6px" for="instructions"
        >Any Additional Instructions</label
      >
      <textarea
        name="instructions"
        formControlName="instructions"
        class="at-textbox mb-6px"
        style="height: auto"
        rows="4"
        placeholder="Enter any additional request"
      ></textarea>
    </div>
    <hr class="m-0" />
    <div>
      <button class="at-button mb-4">Proceed</button>
    </div>
  </form>
</div>
