$gray-50: #f9fafb;
$gray-100: #f2f4f7;
$Gray-200: #eaecf0;
$gray-300: #d0d5dd;
$gray-400: #98a2b3;
$gray-500: #667085;
$gray-700: #344054;
$gray-800: #1d2939;

$blue-50: #f1f5fe;
$blue-100: #e5edfe;
$blue-200: #cbdcfe;
$blue-300: #98b9fe;
$blue-500: #4c86fe;
$blue-600: #3374fe;
$blue-700: #0052fe;
$blue-800: #083ca9;

$yellow-50: #fffaeb;
$yellow-500: #f79009;

$red-50: #fef3f2;
$red-500: #f04438;

$green-50: #ecfdf3;
$green-500: #12b76a;

$purple-100: #f4ebff;
$purple-500: #9e77ed;

$success-50: #ecfdf3;
$success-500: #12b76a;

$error-50: #fef3f2;
$error-600: #d92d20;

$warning-50: #fffaeb;
$warning-400: #fdb022;
