html {
  margin: 0px;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  @extend .global-text;
}

.warning {
  color: #f97066;
  @extend .at-font-b3-reg;

  &.bold {
    @extend .at-font-b3-med;
  }
}

.global-text {
  @extend .at-font-b2-reg;
  color: $gray-800;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
