<div *ngIf="!loadingState" class="d-flex justify-content-center pt-5">
  <div class="card" style="width: 90%">
    <div class="card-body d-grid">
      <div class="at-font-h6-bold">Welcome, {{ this.userInfo.name }}!</div>
      <hr class="mb-0" />
      <div class="at-font-h6-bold my-3">Your Account</div>
      <div class="">
        <div class="d-flex outer-cover gap-3">
          <img
            *ngIf="this.userInfo.profilePicUrl"
            src="{{ this.userInfo.profilePicUrl }}"
            width="50px"
            height="50px"
            class="rounded-circle"
          />
          <div>
            <div class="at-font-b2-bold">
              {{ this.userInfo.name }}
            </div>
            <div class="at-font-b3-reg">{{ this.userInfo.email }}</div>
            <div class="at-font-b3-reg">
              {{ this.userInfo.contact }}
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="d-flex flex-column flex-md-row gap-3">
        <button class="at-button-gray w-100" (click)="edit()">Edit</button>
        <button
          class="at-button-gray w-100"
          (click)="meeting()"
          [disabled]="selectedStay == ''"
        >
          Reserve Meeting Room
        </button>
      </div>
      <hr />
      <div class="d-flex flex-column">
        <label class="at-form-label mb-6px" for="seating"
          >Which stay are you booking services for?</label
        >
        <div
          class="at-textbox mb-6px d-flex justify-content-between"
          (click)="staysOption()"
        >
          <div>{{ selectedStay }}</div>
          <i class="ph ph-caret-down" *ngIf="!staysOptionClick"></i>
        </div>

        <div *ngIf="staysOptionClick" class="w-100 option-box">
          <div class="w-100 overflow-handler" style="max-height: 200px">
            <div
              class="options"
              [class.activeOption]="hotel.hotelName === selectedStay"
              *ngFor="let hotel of stays"
              (click)="staysOption()"
            >
              <div (click)="selectedStaysFn(hotel.hotelName)">
                {{ hotel.hotelName }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
