<div *ngIf="!loadingState" class="d-flex justify-content-center pt-5">
  <div class="card flex-column" style="width: auto">
    <div class="card-body">
      <h5 class="card-title mb-3">
        Welcome, <strong>{{ this.userInfo.name }}</strong
        >!
      </h5>
      <hr />
      <h6 class="card-subtitle mb-1 text-muted">Your Account</h6>
      <div>
        <img
          *ngIf="this.userInfo.profilePicUrl"
          src="{{ this.userInfo.profilePicUrl }}"
          width="100px"
          height="100px"
        />
      </div>
      <div class="card-text">{{ this.userInfo.email }}</div>
      <div class="card-text">
        {{ this.userInfo.contact }}
      </div>
      <hr />
      <button class="at-button" (click)="edit()">Edit</button>
    </div>
  </div>
</div>
